## Train

In [1]:
import pandas as pd
from pycaret.classification import setup, ClassificationExperiment, tune_model, create_model, compare_models, predict_model, dashboard

In [2]:
def prepare_data(df):
    expanded_df = pd.DataFrame(df['flux'].tolist(), index=df.index)
    df = df.drop(columns=['source_id','spectraltype_esphs','teff_gspphot','logg_gspphot','mh_gspphot','flux'])
    df = pd.concat([df, expanded_df], axis=1)
    return df

In [3]:
train_data = pd.read_parquet('../../../data/Gaia DR3/train.parquet')
test_data = pd.read_parquet('../../../data/Gaia DR3/test.parquet')

train_df = prepare_data(train_data)
test_df = prepare_data(test_data)

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14101 entries, 0 to 14100
Columns: 344 entries, Cat to 342
dtypes: float32(343), object(1)
memory usage: 18.6+ MB

In [5]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3526 entries, 0 to 3525
Columns: 344 entries, Cat to 342
dtypes: float32(343), object(1)
memory usage: 4.6+ MB

In [6]:
s = setup(train_df, target='Cat', session_id=123)

In [7]:
exp = ClassificationExperiment()
exp.setup(train_df, target='Cat', session_id=123, train_size=0.99)

In [8]:
best = compare_models()

## Tune model

In [9]:
lgbc = create_model('lightgbm')
tuned_lgbc = tune_model(lgbc, search_library='optuna')

Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [10]:
preds = predict_model(tuned_lgbc, data=test_df)

## Predict

In [11]:
pred = predict_model(best, data=test_df)

In [12]:
pred.head()

,0,1,2,3,4,5,6,7,8,9,...,336,337,338,339,340,341,342,Cat,prediction_label,prediction_score
0,2.140608e-17,1.365276e-17,8.998306e-18,9.277905e-18,1.133764e-17,1.236834e-17,1.210512e-17,1.104840e-17,1.005849e-17,1.006457e-17,...,1.888428e-17,1.936134e-17,2.002518e-17,2.037434e-17,2.127749e-17,2.145453e-17,2.210674e-17,LM,LM,0.9998
1,5.743483e-16,5.637122e-16,5.316359e-16,5.080654e-16,5.123901e-16,5.203310e-16,5.116850e-16,4.899089e-16,4.942565e-16,5.246064e-16,...,1.732059e-16,1.707564e-16,1.708296e-16,1.701658e-16,1.769846e-16,1.812655e-16,1.934178e-16,LM,M,0.6774
2,9.540365e-16,9.370028e-16,8.942922e-16,8.675982e-16,8.753908e-16,8.860598e-16,8.863876e-16,8.799443e-16,9.082285e-16,9.587669e-16,...,8.855333e-16,9.017898e-16,9.214689e-16,9.221377e-16,9.441346e-16,9.314883e-16,9.383808e-16,M,M,0.9349
3,4.322730e-17,3.599028e-17,3.116138e-17,3.147355e-17,3.380242e-17,3.458265e-17,3.315480e-17,3.060560e-17,3.091396e-17,3.615521e-17,...,1.638334e-17,1.512725e-17,1.408430e-17,1.316753e-17,1.320554e-17,1.359484e-17,1.523197e-17,LM,LM,0.9998
4,1.134171e-15,1.104958e-15,1.022256e-15,9.641852e-16,9.621754e-16,9.662636e-16,9.512777e-16,9.316988e-16,9.557092e-16,9.853166e-16,...,1.455515e-16,1.424176e-16,1.418621e-16,1.413263e-16,1.477437e-16,1.527918e-16,1.651610e-16,M,M,0.9506

## Dashboard

In [13]:
dashboard(lgbc, display_format ='inline')

Note: model_output=='probability'. For LGBMClassifier shap values normally get calculated against X_background, but paramater X_background=None, so using X instead
Generating self.shap_explainer = shap.TreeExplainer(model, X, model_output='probability', feature_perturbation='interventional')...
Note: Shap interaction values will not be available. If shap values in probability space are not necessary you can pass model_output='logodds' to get shap values in logodds without the need for a background dataset and also working shap interaction values...
Building ExplainerDashboard..
WARNING: the number of idxs (=4231) > max_idxs_in_dropdown(=1000). However with your installed version of dash(2.17.0) dropdown search may not work smoothly. You can downgrade to `pip install dash==2.6.2` which should work better for now...
For this type of model and model_output interactions don't work, so setting shap_interaction=False...
The explainer object has no decision_trees property. so setting decision_trees=False...
Generating layout...
Calculating shap values...

 99%|===================| 4201/4231 [00:33<00:00]

Calculating prediction probabilities...
Calculating metrics...
Calculating confusion matrices...
Calculating classification_dfs...
Calculating roc auc curves...
Calculating pr auc curves...
Calculating liftcurve_dfs...
Calculating dependencies...
Calculating permutation importances (if slow, try setting n_jobs parameter)...
Calculating pred_percentiles...
Calculating predictions...
Reminder: you can store the explainer (including calculated dependencies) with explainer.dump('explainer.joblib') and reload with e.g. ClassifierExplainer.from_file('explainer.joblib')
Registering callbacks...
Starting ExplainerDashboard inline (terminate it with ExplainerDashboard.terminate(8050))