## Train

In [1]:
import pandas as pd
from pycaret.classification import setup, ClassificationExperiment, tune_model, create_model, compare_models, predict_model, evaluate_model

In [2]:
def prepare_data(df):
    expanded_df = pd.DataFrame(df['flux'].tolist(), index=df.index)
    df = df.drop(columns=['source_id','spectraltype_esphs','teff_gspphot','logg_gspphot','mh_gspphot','flux'])
    df = pd.concat([df, expanded_df], axis=1)
    return df

In [3]:
train_data = pd.read_parquet('../../../data/Gaia DR3/train.parquet')
test_data = pd.read_parquet('../../../data/Gaia DR3/test.parquet')

train_df = prepare_data(train_data)
test_df = prepare_data(test_data)

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14101 entries, 7135 to 6174
Columns: 344 entries, Cat to 342
dtypes: float32(343), object(1)
memory usage: 18.7+ MB

In [5]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3526 entries, 12306 to 14892
Columns: 344 entries, Cat to 342
dtypes: float32(343), object(1)
memory usage: 4.7+ MB

In [6]:
s = setup(train_df, target='Cat', session_id=123)

In [7]:
exp = ClassificationExperiment()
exp.setup(train_df, target='Cat', session_id=123, train_size=0.99)

In [8]:
best = compare_models()

d:\projects\research\.venv\lib\site-packages\pycaret\internal\pycaret_experiment\supervised_experiment.py:323: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  master_display_.apply(

In [9]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

## Predict

In [10]:
pred = predict_model(best, data=test_df)

In [ ]:
pred.head()

## Tune model

In [10]:
lgbc = create_model('lightgbm')
tuned_lgbc = tune_model(lgbc, search_library='optuna')

In [12]:
preds = predict_model(tuned_lgbc, data=test_df)

[LightGBM] [Warning] feature_fraction is set=0.48794914094903397, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.48794914094903397
[LightGBM] [Warning] bagging_fraction is set=0.7666606981200899, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7666606981200899
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] feature_fraction is set=0.48794914094903397, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.48794914094903397
[LightGBM] [Warning] bagging_fraction is set=0.7666606981200899, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7666606981200899
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0